<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>      
    <div class="container mx-auto">
    {% block content%}
    {% endblock %}
    </div>  
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>